.OS {
    position: sticky;
    height: 130px;
    width: 320px;
    background: #303030;

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(-90%);
    -moz-transform: translateX(-90%);
    -ms-transform: translateX(-90%);
    -o-transform: translateX(-90%);
    transform: translateX(-90%);
}

.OS:hover {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
}

.OS p {
    margin-top: -100px;
    color: white;
    width: 200px;
    margin-left: 130px;
}


img {
    width: 110px;
    margin-left: 10px;
    margin-top: 10px;
}

.OS::before {
    content: 'Обратная связь';
    text-align: center;
    background: #F8D145;
    margin-left: 320px;
    position: absolute;
    height: 130px;
    width: 20px;
    border-radius: 0 30px 30px 0;
    writing-mode: vertical-lr;
}